#overPage {
  display: none;
  width: 500px;
	height: 400px;
  top: 0;
	left: 0;
  text-align: center;
}

#result {
  font-size: 50px;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
  margin-top: 70px;
}

#score {
  font-size: 30px;
  margin-bottom: 20px;
}

.popup {
	position: fixed;
	background-color: white;
  opacity: 0.9;
	padding: 30px 20px;
	z-index: 1;
	border: 3px solid yellow;
}

#gameclear {
  display: none;
}

#gameover {
  display: none;
}