#escPage {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 200px;
  background-color: white;
  text-align: center;
  line-height: 500px;
  width: 700px;
  height: 500px;
  z-index: 100;
  margin: 0 auto;
}
