/* 곤용 수정 */
#escPage {
  display: none;
  position: fixed;
  left: 0;
  right: 0;

  top: 200px;
  text-align: center;
  line-height: 500px;
  width: 700px;
  height: 500px;
  z-index: 100;
  margin: 0 auto;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 8px solid #b2b2b2;
  font-family: 'Pixelify Sans', sans-serif;
  background: url('./source/escbackground.png');
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#escPage button {
  width: 200px;
  height: 60px;
  margin: 10px;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  background-color: #a0522d;
  border: 2px solid #8b4513;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease,
    font-size 0.3s ease;
  font-family: 'Pixelify Sans', sans-serif;
}

#escPage button:hover {
  background-color: #cd853f;
  transform: translateY(-2px);
  color: #ffd700;
  font-size: 26px;
}

#escPage button:active {
  background-color: #cd853f;
  transform: translateY(0);
  color: #ffd700;
  font-size: 26px;
}
