#game1 {
  display: none;
}

#game1_backgroundImg {
  width: 100%;
  display: block;
}

#game1_canvas {
  border: 2px solid white;

  background-image: url("./game1Background.png");
  background-repeat: no-repeat;
}

#game1_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black; /* Optional: To have a background color for the container */
}
