#game2 {
  display: none;
}

#game2_backgroundImg {
  width: 100%;
  display: block;
}

#game2_canvas {
  border: 2px solid white;

  background-image: url('./game2Background.png');
  background-repeat: no-repeat;
}

#game2_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black; /* Optional: To have a background color for the container */
}
