#settingPage {
  display: none;
}

#charactercontainer {
  width: 100%;
  height: 300px;

  border: 1px solid #e21111;
}

button .left {
  width: 50%;
  float: left;
}

button .right {
  width: 50%;
  float: left;
}
