#selectGame {
  display: none;
  margin: 0 auto;
}

#text2 {
  color: #fff;
  font-family: "Pixelify Sans", sans-serif;
  text-align: center;
  font-size: 3em;
  margin: 50px 0;
}

#selectgame_image {
  margin: 0 auto;
  text-align: center;
}

#game1Img,
#game2Img {
  margin-bottom: 20px;
}

#stageLockMessage {
  color: #e90d0d;
  font-family: "Pixelify Sans", sans-serif;
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 10px;
  display: none;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
#popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
#close-popup {
  display: block;
  margin: 10px auto 0;
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}
#settings-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
}
